.main-container {
  background-color: #8568ff;
  height: 7rem;
}

.sidebar {
  margin-bottom: 0;
  min-width: 1920px;
  position: fixed;
  height: 100%;
  padding-left: 0;
  list-style-type: none;
}

.side-main {
  display: flex;
  flex-direction: row;
}

.shop-container {
  flex-direction: column;
}

.footer {
  background-color: #8568ff;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  // min-width: 800px;
}
